[role="tree"] {
  margin: 0;
  padding: 0;
}

[role="tree"],
[role="tree"] ul,
[role="tree"] ol {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1rem;
}

[role="tree"] [role="none"] {
  position: relative;
  display: grid;
  grid-template:
    'toggle item' min-content
    '. group' 0fr / min-content 1fr;
  gap: 0 .25rem;
  align-items: center;
  transition: all .3s ease-in-out .15s;
}

[role="tree"] [role="group"] {
  grid-area: group;
  min-height: 0;
  transition: all .3s ease-in-out 0s;
  opacity: 0;
}

[role="tree"] [role="treeitem"] {
  grid-area: item;
}

[role="tree"] [role="treeitem"][aria-selected="true"],
[role="tree"] [role="treeitem"][aria-checked="true"] {
  background-color: rgba(0 0 0 / 10%);
}

[role="tree"] [role="treeitem"][aria-expanded] + button[aria-controls] {
  grid-area: toggle;
  order: -1;
  background: none;
  border-radius: 0;
}

[role="tree"] [role="treeitem"][aria-expanded] + button[aria-controls],
[role="tree"] span[role="treeitem"][aria-expanded]::before {
  position: relative;
  display: inline-block;
  content: '';
  border: .5rem solid;
  border-color: transparent transparent transparent var(--link-color);
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  left: .25rem;
  transition: all .3s ease-in-out;
}

[role="tree"] span[role="treeitem"][aria-expanded]::before {
  padding-right: .25rem;
}

[role="tree"] [role="treeitem"][aria-expanded="true"] + button[aria-controls],
[role="tree"] span[role="treeitem"][aria-expanded="true"]::before {
  left: 0;
  top: .25rem;
  rotate: 90deg;
}
